<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>Bright events - News</title>
    <link rel="icon" href="/Images/logo.png" />
    <link rel="stylesheet" href="/CSS/landing.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/news.css" />
    <script defer src="/js/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Inria+Sans:wght@300&family=Poiret+One&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Inria+Sans:wght@300&family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              beo: "#a71e23",
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <!-- HEADER -->

    <header>
      <nav>
        <h1 id="logo">
          <a href="/"
            ><img src="Images/logo.png" alt="company logo, link to home page"
          /></a>
        </h1>
        <section class="navigation_links">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </section>
        <section class="navigation_cta">
          <a href="/request">
            <button class="request-btn">Request event</button>
          </a>
          <a href="/request">
            <button class="request-btn-mobile">Request event</button>
          </a>
        </section>
        <section class="drop-icon">
          <span></span>
        </section>
        <ul class="mobile_nav hidden">
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <!-- MAIN CONTENT -->

    <main>
      <section id="home">
        <h1
          class="text-beo text-6xl flex justify-center align-center font-black items-center"
          id="introHome"
        >
          News and updates from Bright Events
        </h1>
      </section>
      <section class="flex p-4 top-20 news gap-4">
        <h1
          class="font-black text-3xl flex justify-center align-center text-beo text-center"
          style="text-align: center"
        >
          Latest News
        </h1>
        <section
          id="content"
          class="flex flex-row flex-wrap justify-evenly gap-4 w-full max-w-5xl mx-auto items-left"
        >
          <article
            class="flex p-4 rounded-lg shadow-lg border border-beo justify-between text-black"
            style="
              overflow: hidden;
              display: flex;
              justify-content: space-between;
              width: 356px;
              height: 430px;
            "
          >
            <span class="flex justify-center align-center gap-4">
              <img class="w-64" src="/Images/BMPC-2.jpg" alt="" />
            </span>
            <span class="flex flex-col justify-center items-center">
              <h2 class="font-bold text-2xl text-center">
                Bright Mom Pregnant Carnival
              </h2>
              <p class="font-bold text-center">
                The Bright Mom Pregnant Carnival has launched.
              </p>
              <a href="/sorry">
                <button
                  class="bg-beo text-white w-32 rounded-lg p-2 mt-2 items-center"
                >
                  Read news
                </button>
              </a>
            </span>
          </article>
          <article
            class="flex flex-col p-4 w-1/2 rounded-lg shadow-lg border border-beo text-black justify-between"
            style="width: 356px; height: 430px"
          >
            <span class="flex justify-center align-center">
              <img
                style="width: 216px"
                src="/Images/bridal-expo-1 (1) (2).jpg"
                alt=""
              />
            </span>
            <span class="flex flex-col items-center justify-center">
              <h2 class="font-bold text-2xl text-center text-left">
                The bridal Expo
              </h2>
              <p class="font-bold text-center">
                The wedding trends, expert tips, and inspiration at the Bridal
                Expo.
              </p>
              <a href="/sorry">
                <button
                  class="bg-beo text-white w-32 rounded-lg p-2 mt-2 items-center"
                >
                  Read news
                </button>
              </a>
            </span>
          </article>
        </section>
      </section>
    </main>
    <!-- FOOTER -->
    <footer>
      <article id="footer">
        <section class="main-footer-section">
          <div class="logo">
            <img src="/Images/logo.png" alt="" />
            <p>Bright Events</p>
          </div>
        </section>
        <hr />
        <section class="secondary-footer-section">
          <p class="copyright"><%=dateYear%>, All rights reserved</p>
          <ul class="socials">
            <li>
              <a href="https://www.instagram.com/bright.event.organizer/?utm_source=qr&r=nametag">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1)"
              >
                <path
                  d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008z"
                ></path>
                <circle cx="16.806" cy="7.207" r="1.078"></circle>
                <path
                  d="M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.606 6.606 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.615 6.615 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.581 6.581 0 0 0-.421-2.217zm-1.218 9.532a5.043 5.043 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.985 4.985 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.96 4.96 0 0 1-1.669-.311 2.985 2.985 0 0 1-1.719-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.991 2.991 0 0 1 1.712 1.712 5.08 5.08 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011z"
                ></path>
              </svg>
              </a>
              
            </li>
            
            <li>
              <a href="https://www.tiktok.com/@brightevent.org?_t=ZM-8yzIy4B2GRR&_r=1">  
                <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="700px" height="700px" viewBox="0 0 32 32" version="1.1">
                <title>tiktok</title>
                <path d="M16.656 1.029c1.637-0.025 3.262-0.012 4.886-0.025 0.054 2.031 0.878 3.859 2.189 5.213l-0.002-0.002c1.411 1.271 3.247 2.095 5.271 2.235l0.028 0.002v5.036c-1.912-0.048-3.71-0.489-5.331-1.247l0.082 0.034c-0.784-0.377-1.447-0.764-2.077-1.196l0.052 0.034c-0.012 3.649 0.012 7.298-0.025 10.934-0.103 1.853-0.719 3.543-1.707 4.954l0.020-0.031c-1.652 2.366-4.328 3.919-7.371 4.011l-0.014 0c-0.123 0.006-0.268 0.009-0.414 0.009-1.73 0-3.347-0.482-4.725-1.319l0.040 0.023c-2.508-1.509-4.238-4.091-4.558-7.094l-0.004-0.041c-0.025-0.625-0.037-1.25-0.012-1.862 0.49-4.779 4.494-8.476 9.361-8.476 0.547 0 1.083 0.047 1.604 0.136l-0.056-0.008c0.025 1.849-0.050 3.699-0.050 5.548-0.423-0.153-0.911-0.242-1.42-0.242-1.868 0-3.457 1.194-4.045 2.861l-0.009 0.030c-0.133 0.427-0.21 0.918-0.21 1.426 0 0.206 0.013 0.41 0.037 0.61l-0.002-0.024c0.332 2.046 2.086 3.59 4.201 3.59 0.061 0 0.121-0.001 0.181-0.004l-0.009 0c1.463-0.044 2.733-0.831 3.451-1.994l0.010-0.018c0.267-0.372 0.45-0.822 0.511-1.311l0.001-0.014c0.125-2.237 0.075-4.461 0.087-6.698 0.012-5.036-0.012-10.060 0.025-15.083z"/>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://web.facebook.com/people/Bright-Event-Organizers/100068351245331/?rdid=nCsthqLdBgyxvIBe&share_url=https%3A%2F%2Fweb.facebook.com%2Fshare%2F19hu2zc8wH%2F%3F_rdc%3D1%26_rdr"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgba(0, 0, 0, 1)"
                >
                  <path
                    d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"
                  ></path>
                </svg>
              </a>
            </li>
          </ul>
        </section>
      </article>
    </footer>
    <script>
      window.addEventListener("scroll", () => {
        const nav = document.querySelector("nav");
        nav.classList.toggle("scroll", window.scrollY > 0);
      });
      const dropDown = document.querySelector(".drop-icon");
      const mobileNav = document.querySelector(".mobile_nav");

      dropDown.addEventListener("click", () => {
        // Toggle active class for the icon if you need animation
        dropDown.classList.toggle("active");

        // Toggle Tailwind classes for showing/hiding menu
        if (mobileNav.classList.contains("hidden")) {
          mobileNav.classList.remove("hidden");
          mobileNav.classList.add("flex", "flex-col");
        } else {
          mobileNav.classList.add("hidden");
          mobileNav.classList.remove("flex", "flex-col");
        }
      });
      window.addEventListener("load", () => {
        const heading = document.getElementById("introHome");
        const articles = document.querySelector("article");
        setTimeout(() => heading.classList.add("visible"), 50);

        // slide in articles
        setTimeout(() => {
          articles.forEach((article) => article.classList.add("active"));
        }, 100);
      });
    </script>
  </body>
</html>
