<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <title>Bright events - Portfolio</title>
    <link rel="icon" href="/Images/logo.png" />
    <link rel="stylesheet" href="CSS/main.css" />
    <link rel="stylesheet" href="CSS/portfolio.css" />
    <script defer src="/js/main.js"></script>
    <script defer src="/js/portfolio.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/request.js"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Inria+Sans:wght@300&family=Poiret+One&display=swap"
      rel="stylesheet"
    />

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              beo: "#a71e23",
            },
          },
        },
      };
    </script>
  </head>
  <body class="flex items-center justify-between text-beo">
    <h1
      class="text-3xl flex items-center justify-center font-black text-center"
    >
      Sorry, this page is unavalible for now.
    </h1>
  </body>
</html>
<style>
  body.flex.items-center.justify-between.text-beo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
