@media screen and (max-width: 990px) {
  #request {
    padding-top: 8rem;
  }
}

@media screen and (max-width: 660px) {
  .request-form {
    flex-direction: column;
    align-items: center;
  }

  .request {
    align-self: unset;
  }

  .request-form img {
    display: none;
  }
}
